# packages in environment at /opt/conda/envs/zhouyan_chuang_torch:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main    http://mirrors.aliyun.com/anaconda/pkgs/main
_openmp_mutex             5.1                       1_gnu    http://mirrors.aliyun.com/anaconda/pkgs/main
accelerate                1.1.1                    pypi_0    pypi
annotated-types           0.7.0                    pypi_0    pypi
anyio                     4.4.0                    pypi_0    pypi
argon2-cffi               23.1.0                   pypi_0    pypi
argon2-cffi-bindings      21.2.0                   pypi_0    pypi
arrow                     1.3.0                    pypi_0    pypi
asttokens                 2.0.5              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
async-lru                 2.0.4                    pypi_0    pypi
attrs                     24.2.0                   pypi_0    pypi
babel                     2.16.0                   pypi_0    pypi
backcall                  0.2.0              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
beautifulsoup4            4.12.3                   pypi_0    pypi
bleach                    6.1.0                    pypi_0    pypi
bzip2                     1.0.8                h7b6447c_0    http://mirrors.aliyun.com/anaconda/pkgs/main
ca-certificates           2023.01.10           h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
certifi                   2022.12.7       py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
cffi                      1.17.0                   pypi_0    pypi
charset-normalizer        2.1.1                    pypi_0    pypi
cmake                     3.25.0                   pypi_0    pypi
comm                      0.2.2                    pypi_0    pypi
contourpy                 1.3.0                    pypi_0    pypi
cycler                    0.12.1                   pypi_0    pypi
d2l                       1.0.3                    pypi_0    pypi
debugpy                   1.5.1           py310h295c915_0    http://mirrors.aliyun.com/anaconda/pkgs/main
decorator                 5.1.1              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
defusedxml                0.7.1                    pypi_0    pypi
distro                    1.9.0                    pypi_0    pypi
entrypoints               0.4             py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
exceptiongroup            1.2.2                    pypi_0    pypi
executing                 0.8.3              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
fastjsonschema            2.20.0                   pypi_0    pypi
filelock                  3.9.0                    pypi_0    pypi
fonttools                 4.53.1                   pypi_0    pypi
fqdn                      1.5.1                    pypi_0    pypi
fsspec                    2024.10.0                pypi_0    pypi
gdown                     5.2.0                    pypi_0    pypi
h11                       0.14.0                   pypi_0    pypi
httpcore                  1.0.5                    pypi_0    pypi
httpx                     0.27.2                   pypi_0    pypi
huggingface-hub           0.26.3                   pypi_0    pypi
idna                      3.4                      pypi_0    pypi
ipykernel                 6.19.2          py310h2f386ee_0    http://mirrors.aliyun.com/anaconda/pkgs/main
ipython                   8.10.0          py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
ipywidgets                8.1.5                    pypi_0    pypi
isoduration               20.11.0                  pypi_0    pypi
jedi                      0.18.1          py310h06a4308_1    http://mirrors.aliyun.com/anaconda/pkgs/main
jinja2                    3.1.2                    pypi_0    pypi
jiter                     0.5.0                    pypi_0    pypi
joblib                    1.4.2                    pypi_0    pypi
json5                     0.9.25                   pypi_0    pypi
jsonlines                 4.0.0                    pypi_0    pypi
jsonpointer               3.0.0                    pypi_0    pypi
jsonschema                4.23.0                   pypi_0    pypi
jsonschema-specifications 2023.12.1                pypi_0    pypi
jupyter                   1.0.0                    pypi_0    pypi
jupyter-console           6.6.3                    pypi_0    pypi
jupyter-events            0.10.0                   pypi_0    pypi
jupyter-lsp               2.2.5                    pypi_0    pypi
jupyter-server            2.14.2                   pypi_0    pypi
jupyter-server-terminals  0.5.3                    pypi_0    pypi
jupyter_client            7.4.9           py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
jupyter_core              5.2.0           py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
jupyterlab                4.2.5                    pypi_0    pypi
jupyterlab-pygments       0.3.0                    pypi_0    pypi
jupyterlab-server         2.27.3                   pypi_0    pypi
jupyterlab-widgets        3.0.13                   pypi_0    pypi
kiwisolver                1.4.6                    pypi_0    pypi
ld_impl_linux-64          2.38                 h1181459_1    http://mirrors.aliyun.com/anaconda/pkgs/main
libffi                    3.4.2                h6a678d5_6    http://mirrors.aliyun.com/anaconda/pkgs/main
libgcc-ng                 11.2.0               h1234567_1    http://mirrors.aliyun.com/anaconda/pkgs/main
libgomp                   11.2.0               h1234567_1    http://mirrors.aliyun.com/anaconda/pkgs/main
libsodium                 1.0.18               h7b6447c_0    http://mirrors.aliyun.com/anaconda/pkgs/main
libstdcxx-ng              11.2.0               h1234567_1    http://mirrors.aliyun.com/anaconda/pkgs/main
libuuid                   1.41.5               h5eee18b_0    http://mirrors.aliyun.com/anaconda/pkgs/main
lit                       15.0.7                   pypi_0    pypi
markupsafe                2.1.2                    pypi_0    pypi
matplotlib                3.7.2                    pypi_0    pypi
matplotlib-inline         0.1.6           py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
mistune                   3.0.2                    pypi_0    pypi
mpmath                    1.2.1                    pypi_0    pypi
nbclient                  0.10.0                   pypi_0    pypi
nbconvert                 7.16.4                   pypi_0    pypi
nbformat                  5.10.4                   pypi_0    pypi
ncurses                   6.4                  h6a678d5_0    http://mirrors.aliyun.com/anaconda/pkgs/main
nest-asyncio              1.5.6           py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
networkx                  3.0rc1                   pypi_0    pypi
notebook                  7.2.2                    pypi_0    pypi
notebook-shim             0.2.4                    pypi_0    pypi
numpy                     1.23.5                   pypi_0    pypi
nvidia-cublas-cu12        12.4.5.8                 pypi_0    pypi
nvidia-cuda-cupti-cu12    12.4.127                 pypi_0    pypi
nvidia-cuda-nvrtc-cu12    12.4.127                 pypi_0    pypi
nvidia-cuda-runtime-cu12  12.4.127                 pypi_0    pypi
nvidia-cudnn-cu12         9.1.0.70                 pypi_0    pypi
nvidia-cufft-cu12         11.2.1.3                 pypi_0    pypi
nvidia-curand-cu12        10.3.5.147               pypi_0    pypi
nvidia-cusolver-cu12      11.6.1.9                 pypi_0    pypi
nvidia-cusparse-cu12      12.3.1.170               pypi_0    pypi
nvidia-nccl-cu12          2.21.5                   pypi_0    pypi
nvidia-nvjitlink-cu12     12.4.127                 pypi_0    pypi
nvidia-nvtx-cu12          12.4.127                 pypi_0    pypi
openai                    1.44.0                   pypi_0    pypi
openssl                   1.1.1t               h7f8727e_0    http://mirrors.aliyun.com/anaconda/pkgs/main
overrides                 7.7.0                    pypi_0    pypi
packaging                 22.0            py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
pandas                    2.0.3                    pypi_0    pypi
pandocfilters             1.5.1                    pypi_0    pypi
parso                     0.8.3              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
pexpect                   4.8.0              pyhd3eb1b0_3    http://mirrors.aliyun.com/anaconda/pkgs/main
pickleshare               0.7.5           pyhd3eb1b0_1003    http://mirrors.aliyun.com/anaconda/pkgs/main
pillow                    9.3.0                    pypi_0    pypi
pip                       23.0.1          py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
platformdirs              2.5.2           py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
prometheus-client         0.20.0                   pypi_0    pypi
prompt-toolkit            3.0.36          py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
psutil                    5.9.0           py310h5eee18b_0    http://mirrors.aliyun.com/anaconda/pkgs/main
ptyprocess                0.7.0              pyhd3eb1b0_2    http://mirrors.aliyun.com/anaconda/pkgs/main
pure_eval                 0.2.2              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
pycparser                 2.22                     pypi_0    pypi
pydantic                  2.9.0                    pypi_0    pypi
pydantic-core             2.23.2                   pypi_0    pypi
pygments                  2.11.2             pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
pynvml                    11.5.3                   pypi_0    pypi
pyparsing                 3.0.9                    pypi_0    pypi
pysocks                   1.7.1                    pypi_0    pypi
python                    3.10.9               h7a1cb2a_2    http://mirrors.aliyun.com/anaconda/pkgs/main
python-dateutil           2.8.2              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
python-json-logger        2.0.7                    pypi_0    pypi
pytorch-triton            2.1.0+2c32f43999          pypi_0    pypi
pytz                      2024.1                   pypi_0    pypi
pyyaml                    6.0                      pypi_0    pypi
pyzmq                     26.2.0                   pypi_0    pypi
qtconsole                 5.6.0                    pypi_0    pypi
qtpy                      2.4.1                    pypi_0    pypi
readline                  8.2                  h5eee18b_0    http://mirrors.aliyun.com/anaconda/pkgs/main
referencing               0.35.1                   pypi_0    pypi
regex                     2022.10.31               pypi_0    pypi
requests                  2.31.0                   pypi_0    pypi
rfc3339-validator         0.1.4                    pypi_0    pypi
rfc3986-validator         0.1.1                    pypi_0    pypi
rpds-py                   0.20.0                   pypi_0    pypi
safetensors               0.4.5                    pypi_0    pypi
scikit-learn              1.5.1                    pypi_0    pypi
scipy                     1.10.1                   pypi_0    pypi
seaborn                   0.13.2                   pypi_0    pypi
send2trash                1.8.3                    pypi_0    pypi
sentencepiece             0.2.0                    pypi_0    pypi
setuptools                65.6.3          py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
six                       1.16.0             pyhd3eb1b0_1    http://mirrors.aliyun.com/anaconda/pkgs/main
sniffio                   1.3.1                    pypi_0    pypi
soupsieve                 2.6                      pypi_0    pypi
sqlite                    3.40.1               h5082296_0    http://mirrors.aliyun.com/anaconda/pkgs/main
stack_data                0.2.0              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
sympy                     1.13.1                   pypi_0    pypi
terminado                 0.18.1                   pypi_0    pypi
threadpoolctl             3.5.0                    pypi_0    pypi
tinycss2                  1.3.0                    pypi_0    pypi
tk                        8.6.12               h1ccaba5_0    http://mirrors.aliyun.com/anaconda/pkgs/main
tokenizers                0.13.2                   pypi_0    pypi
tomli                     2.0.1                    pypi_0    pypi
torch                     2.5.1                    pypi_0    pypi
torchaudio                2.0.0.dev20230310+cu118          pypi_0    pypi
torchvision               0.15.0.dev20230310+cu118          pypi_0    pypi
tornado                   6.2             py310h5eee18b_0    http://mirrors.aliyun.com/anaconda/pkgs/main
tqdm                      4.65.0                   pypi_0    pypi
traitlets                 5.7.1           py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
transformers              4.26.1                   pypi_0    pypi
triton                    3.1.0                    pypi_0    pypi
types-python-dateutil     2.9.0.20240821           pypi_0    pypi
typing-extensions         4.12.2                   pypi_0    pypi
tzdata                    2024.1                   pypi_0    pypi
uri-template              1.3.0                    pypi_0    pypi
urllib3                   1.26.13                  pypi_0    pypi
wcwidth                   0.2.5              pyhd3eb1b0_0    http://mirrors.aliyun.com/anaconda/pkgs/main
webcolors                 24.8.0                   pypi_0    pypi
webencodings              0.5.1                    pypi_0    pypi
websocket-client          1.8.0                    pypi_0    pypi
wheel                     0.38.4          py310h06a4308_0    http://mirrors.aliyun.com/anaconda/pkgs/main
widgetsnbextension        4.0.13                   pypi_0    pypi
xformers                  0.0.28.post3             pypi_0    pypi
xz                        5.2.10               h5eee18b_1    http://mirrors.aliyun.com/anaconda/pkgs/main
zeromq                    4.3.4                h2531618_0    http://mirrors.aliyun.com/anaconda/pkgs/main
zlib                      1.2.13               h5eee18b_0    http://mirrors.aliyun.com/anaconda/pkgs/main
